<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Yixin Xia Designs</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"/>
<link rel="stylesheet" type="text/css" href="css/styles.css">
<link rel="stylesheet" type="text/css" href="css/ng/twitter.css" />
<link rel="stylesheet" type="text/css" href="css/mobile.css"/>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
</head>

<body class="bodybg0">

<div class="navbar navbar-default navbar-fixed-top mainNavTop" role="navigation">
	<div class="container">
    	<div class="navbar-header mainLogo">
        	<img src="images/logo.png" alt="mainLogo" id="logoImg" class="color-change" />
        </div>
        <div class="navbar mainNav">
        	<div class="menuToggle">
            	<div class="toggleContainer">
            		<a href="#" class="myHidden">Menu</a>
                </div>
            </div>
        	<ul class="nav navbar-nav">
            	<li><a href="#" class="scroll-link color-change" data-id="about" data-colorchange="blue">About</a></li>
                <li><a href="#" class="scroll-link color-change" data-id="timeline" data-colorchange="green">Timelines</a></li>
                <li><a href="#" class="scroll-link color-change" data-id="skills" data-colorchange="orange">Skills</a></li>
                <li><a href="#" class="scroll-link color-change" data-id="activities" data-colorchange="red">Activities</a></li>
                <li><a href="#" class="scroll-link color-change" data-id="portfolio" data-colorchange="teal">Portfolio</a></li>
                <li><a href="#" class="scroll-link color-change" data-id="contact" data-colorchange="teal">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-full allcontainer">
	<div id="about" class="container subsectionContainer">
    	<div class="topPlaceholder"></div>
    	<div class="row">
        	<div class="col-md-7 mainDesc myAlpha">
            	<h1>Web Designer</h1>
                <h3>Developer</h3>
                <h4>Information Technology</h4>
                <h4>Innovator</h4>
                <h4>Not Hipster</h4>
            </div>
        </div>
    </div>
    <div id="timeline" class="subsectionContainer solidColorContainer timelineDefault">
        <div class="row colorContainer">
            <div class="mainContainer mainContent">
                <h2>More About Me</h2>
                <div class="leftCol">
                    <ul class="timelineList list-unstyled">
                        <li class="desc"><em>Past</em></li>
                        <li class="timePoint"><a href="#" class="time0" data-tlid="1">China</a></li>
                        <li class="timePoint"><a href="#" class="time1" data-tlid="2">Japan</a></li>
                        <li class="timePoint"><a href="#" class="time2" data-tlid="3">UT Austin</a></li>
                        <li class="timePoint"><a href="#" class="time3" data-tlid="4">Freelancer</a></li>
                        <li class="timePoint"><a href="#" class="time4" data-tlid="5">IT Career</a></li>
                        <li class="desc"><em>Present</em></li>
                    </ul>
                </div>
                <div class="rightCol">
                    <div class="contentDiv0">
                    	<h3>You Can Call Me Esheng</h3>
                        <p>Stuff about me etc etc</p>
                    </div>
                    <div class="contentDiv1 myHidden">
                    	<h3>Shanghai</h3>
                        <p>I was born in Shanghai and spent the first half of my childhood in 1990’s pre-modernized China. As a native speaker of Chinese, I still have many connections in China even after all these years.</p>
                    </div>
                    <div class="contentDiv2 myHidden">
                    	<h3>Kyoto</h3>
                        <p>My family moved to Kyoto towards the late 90’s, where I spent the second half of my childhood. Because I received my grade school education in Japan, I am a native speaker of Japanese as well.</p>
                    </div>
                    <div class="contentDiv3 myHidden">
                    	<h3>Hook Em' Horns</h3>
                        <p>After finishing up Middle and High school in Houston, I spent the next four years of my life at University of Texas at Austin. I attended McCombs School of Business with major in Management Information System and minor in Accounting. I also studied abroad at Hong Kong University of Science and Technology.</p>
                    </div>
                    <div class="contentDiv4 myHidden">
                    	<h3>Creativity!</h3>
                        <p>While studying at UT Austin, I was able to dive into the world of professional web designing by working as a freelance web designer under my company - Austin Pinnacle Web Studios. While I mostly worked with various individual clients, I also had the pleasure to work with for couple start-up companies in Austin.</p>
                    </div>
                    <div class="contentDiv5 myHidden">
                    	<h3>IT World</h3>
                        <p>Upon finishing my degree at UT Austin, I jumpstarted my post-college life by joining United Services Automobile Association at San Antonio as a Software Developer. I’m currently working in a team oriented environment with very bright and wonderful coworkers (especially my boss!).</p>
                    </div>
                </div>
            </div>
            <div class="backtoTop mainContainer">
                <a href="#" class="scroll-link" data-id="about">Back to Top</a>
            </div>
        </div>
    </div>
    <div id="skills" class="container-full subsectionContainer solidColorContainer">
    	<div class="row mainContainer mainContent">
        	<h2>My Skills</h2>
            <div class="leftCol">
            	<div id="mainChartContainer" class="mainChartContainer">
                	<!-- High Chart Goes Here -->
                </div>
            </div>
            <div class="rightCol addDataContainer">
            	<div class="mobileNav">
                    <ul class="mobileSelector list-inline">
                        <li><a href="#" data-key="Web Design" class="blue-bg" >Web Design</a></li>
                        <li><a href="#" data-key="JS" class="orange-bg">JS</a></li>
                        <li><a href="#" data-key="UI/UX" class="green-bg">UI/UX</a></li>
                        <li><a href="#" data-key="Web Development" class="red-bg">Web Dev</a></li>
                        <li><a href="#" data-key="IT" class="grey-bg">IT</a></li>
                    </ul>
                </div>
            	<div data-chartName="invalid" class="defaultCol skillsDiv">
                	<h3>Learn More About Me!</h3>
                    <p>ligula, et eros et ultrices posuere cubilia Curae; Mauris eros porttitor elementum. Morbi eleifend. Sed fringilla augue sit amet, consectetuer adipiscing elit. Nunc condimentum faucibus orci at sem. Suspendisse egestas accumsan. Quisque est tincidunt viverra. Cras tempus orci luctus quis, ipsum. Curabitur ac magna ante, luctus et malesuada tristique, sollicitudin sed,</p>
                </div>
                <div data-chartName="Web Design" class="myHidden skillsDiv">
                	<h3>Web Design</h3>
                    <table class="table chartTable">
                    	<thead>
                        	<tr>
                            	<th>Skill</th>
                                <th>Years</th>
                                <th>Knowledge</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                           		<td>HTML</td>
                                <td><span>8+ Years</span></td>
                                <td><span class="iLegendary">Legendary</span></td>
                            </tr>
                            <tr>
                            	<td>CSS</td>
                                <td><span>8+ Years</span></td>
                                <td><span class="iLegendary">Legendary</span></td>
                            </tr>
                            <tr>
                            	<td>BootStrap</td>
                                <td><span>1+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                            	<td>Responsive Design</td>
                                <td><span>1+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                            	<td>Cross Browser</td>
                                <td><span>3+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                                <td>Webstorm</td>
                                <td><span>3+ Months</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-chartName="Web Development" class="myHidden skillsDiv">
                	<h3>Web Development</h3>
                    <table class="table chartTable">
                    	<thead>
                        	<tr>
                            	<th>Skill</th>
                                <th>Years</th>
                                <th>Knowledge</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                           		<td>PHP</td>
                                <td><span>3+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                            	<td>ASP.Net</td>
                                <td><span>1+ Years</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                            <tr>
                            	<td>Node.js</td>
                                <td><span>4+ Months</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                                <td>CMS (Wordpress)</td>
                                <td><span>2+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                            	<td>REST APIs</td>
                                <td><span>1+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                                <td>NoSQL (Mongo)</td>
                                <td><span>3+ Months</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-chartName="UI/UX" class="myHidden skillsDiv">
                	<h3>UI/UX</h3>
                    <table class="table chartTable">
                    	<thead>
                        	<tr>
                            	<th>Skill</th>
                                <th>Years</th>
                                <th>Knowledge</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                           		<td>Photoshop</td>
                                <td><span>5+ Years</span></td>
                                <td><span class="iLegendary">Legendary</span></td>
                            </tr>
                            <tr>
                            	<td>Illustrator</td>
                                <td><span>3+ Years</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                            	<td>Flash</td>
                                <td><span>1 Year</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-chartName="IT" class="myHidden skillsDiv">
                	<h3>Information Technology</h3>
                    <table class="table chartTable">
                    	<thead>
                        	<tr>
                            	<th>Skill</th>
                                <th>Years</th>
                                <th>Knowledge</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                            	<td>Relational SQL</td>
                                <td><span>3+ Year</span></td>
                                <td><span class="iLegendary">Legendary</span></td>
                            </tr>
                        	<tr>
                           		<td>IBM Datastage</td>
                                <td><span>1.5+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                            <tr>
                            	<td>Web Secuirty</td>
                                <td><span>1.5+ Years</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                            	<td>UNIX/Shell Scripting</td>
                                <td><span>1.5+ Years</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                            <tr>
                            	<td>Agile Dev</td>
                                <td><span>1.5+ Years</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                            	<td>Code Control</td>
                                <td><span>1.5+ Years</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div data-chartName="JS" class="myHidden skillsDiv">
                	<h3>Javascript</h3>
                    <table class="table chartTable">
                    	<thead>
                        	<tr>
                            	<th>Skill</th>
                                <th>Years</th>
                                <th>Knowledge</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<tr>
                            	<td>Functional JS</td>
                                <td><span>4+ Years</span></td>
                                <td><span class="iLegendary">Legendary</span></td>
                            </tr>
                            <tr>
                            	<td>JQuery</td>
                                <td><span>3+ Years</span></td>
                                <td><span class="iSkillful">Skillful</span></td>
                            </tr>
                        	<tr>
                           		<td>Angular.js</td>
                                <td><span>2+ Months</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                            	<td>High Charts</td>
                                <td><span>2+ Months</span></td>
                                <td><span class="iExperienced">Experienced</span></td>
                            </tr>
                            <tr>
                            	<td>Yahoo YUI</td>
                                <td><span>2+ Months</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                            <tr>
                                <td>D3</td>
                                <td><span>1+ Months</span></td>
                                <td><span class="iGood">Good</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="backtoTop skillsBacktoTop">
        	<a href="#" class="scroll-link" data-id="about">Back to Top</a>
        </div>
    </div>
    <div id="activities" class="container-full subsectionContainer solidColorContainer" ng-app="ngAct" ng-controller="ngActCtrl">
		<div class="row mainContainer mainContent">
        	<h2>What I Been Doing</h2>
            <div class="leftCol">
                <ul class="actNav list-unstyled">
                    <li class="title">My Activities</li>
                    <li><a href="#" ng-click="showDiv($event)"><img src="images/twitterbanner.png" alt="My Twitter" /></a></li>
                    <li class="title">More to Come!</li>
                </ul>
            </div>
            <div class="mobileBtns myHidden">
                <a href="#" ng-click="showDiv($event)"><img src="images/twitterbanner.png" alt="My Twitter" /></a>
            </div>
            <div class="rightCol">
                <div class="defaultCol" ng-hide="activated==='twitter'">
                    <h3 class="extendOver">Click Buttons to Find Out More!</h3>
                </div>
                <div class="twitterBox" ng-show="activated==='twitter'">
                    <div class="loading" ng-hide="allDone()">
                        <img src="images/loadingGif.gif" a="Loading" />
                        <p>Please Be Patient =)</p>
                    </div>
                    <div class="twitterFeed" ng-show="allDone()">
                        <div class="col1">
                            <h3>My Tweets</h3>
                            <ul class="list-unstyled">
                                <li ng-repeat="tweets in tweetsArray">
                                    <p><img src="{{tweets.picture}}" alt="My Picture" /> {{tweets.time}}</p>
                                    <p>{{tweets.tweet}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col2">
                            <h3>Following</h3>
                            <ul class="list-unstyled">
                                <li ng-repeat="friends in friendsArray">
                                    <p><img src="{{friends.picture}}" alt="My Picture" /> {{friends.name}} ({{friends.screenname}})</p>

                                    <p>{{friends.description}}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="col3">
                            <h3>Followers</h3>
                            <ul class="list-unstyled">
                                <li ng-repeat="followers in followersArray">
                                    <p><img src="{{followers.picture}}" alt="My Picture" /> {{followers.name}}({{followers.screenname}})</p>

                                    <p>{{followers.description}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="backtoTop">
            <a href="#" class="scroll-link" data-id="about">Back to Top</a>
        </div>
    </div>
    <div id="portfolio" class="container-full subsectionContainer solidColorContainer">
		<div class="row mainContainer mainContent">
        	<h2>Portfolio</h2>
            <div class="leftCol slidersContainer">
            	<!-- Start of Mobile Nav -->
                <div class="mobileNav myHidden">
                	<ul class="list-inline">
                        <li class="portPoint"><a href="#" data-slide="Websites" class="active">Websites</a></li>
                        <li class="portPoint"><a href="#" data-slide="WebApps">Web Apps</a></li>
                        <li class="portPoint"><a href="#" data-slide="Graphics">Graphics</a></li>
                        <li class="portFull"><a href="https://github.com/wongasta/" target="_blank">GitHub</a></li>
                    </ul>
                </div>
                <!-- ENd of Mobile Nav -->
            	
            	<!-- Start of various sliders -->
                <!-- Slide Websites -->
                <div id="WebsitesSlide" class="carousel slide">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#WebsitesSlide" data-slide-to="0" class="active"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="1"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="2"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="3"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="4"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="5"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="6"></li>
                    <li data-target="#WebsitesSlide" data-slide-to="7"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                  	<!-- Start of Item -->
                    <div class="item active">
                      <img src="images/portfolio/websites/001s.jpg" alt="Apple Energy Group" />
                      <div class="carousel-caption">
                      	<!-- Start Capiton -->
                        <h3>Apple Energy Group</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal1">Enlarge</button>
						<button class="btn btn-warning buttonView" data-livelink="http://www.aeg-enms.com" >View Live</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                  	<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/002s.jpg" alt="Strategic Materials" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Strategic Materials</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal2">Enlarge</button>
						<button class="btn btn-warning buttonView" data-livelink="http://www.strategicmaterials.com/" >View Live</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                  	<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/003s.jpg" alt="Austin Lawns and Flowerbeds" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Austin Lawns and Flowerbeds</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal3">Enlarge</button>
						<button class="btn btn-warning buttonView" data-toggle="modal" data-livelink="http://austincreativelandscaping.com/" >View Live</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                    <!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/004s.jpg" alt="Safari Site" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Numzaan Safari</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal4">Enlarge</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                    <!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/005s.jpg" alt="Day of Prayer" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Collegiate Day of Prayer</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal5">Enlarge</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                    <!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/006s.jpg" alt="Bakyal Consulting" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Bakyal Consulting</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal6">Enlarge</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                    <!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/007s.jpg" alt="CCC" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>CCC</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal7">Enlarge</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                    <!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/websites/008s.jpg" alt="Bud Hyrczyk" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Bud Hyrczyk</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#websitesModal .modal8">Enlarge</button>
                        <!-- End Capiton -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                  <!-- End of Wrapper for slides -->
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#WebsitesSlide" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#WebsitesSlide" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
                <!-- End of Slide Websites -->
                <!-- Slide Web Apps -->
                <div id="WebAppsSlide" class="carousel slide myHidden">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#WebAppsSlide" data-slide-to="0" class="active"></li>
                    <li data-target="#WebAppsSlide" data-slide-to="1"></li>
                    <li data-target="#WebAppsSlide" data-slide-to="2"></li>
                    <li data-target="#WebAppsSlide" data-slide-to="3"></li>
                    <li data-target="#WebAppsSlide" data-slide-to="4"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <!-- Start of Item -->
                    <div class="item active">
                      <img src="images/portfolio/webapps/001s.jpg" alt="Phoenix Sun" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Phoenix Sun Project</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#webappModal .modal1">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/webapps/002s.jpg" alt="Namerator" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Namerator</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#webappModal .modal2">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/webapps/003s.jpg" alt="USAA Kids" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>USAA Kids</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#webappModal .modal3">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/webapps/004s.jpg" alt="AEG Store" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>AEG Store</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#webappModal .modal4">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/webapps/005s.jpg" alt="AEG Georgia" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>AEG Georgia</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#webappModal .modal5">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                  <!-- End of Wrapper for slides -->
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#WebAppsSlide" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#WebAppsSlide" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
                <!-- End of Slide Web Apps -->
                                <!-- Slide Graphics -->
                <div id="GraphicsSlide" class="carousel slide myHidden">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#GraphicsSlide" data-slide-to="0" class="active"></li>
                    <li data-target="#GraphicsSlide" data-slide-to="1"></li>
					<li data-target="#GraphicsSlide" data-slide-to="2"></li>
					<li data-target="#GraphicsSlide" data-slide-to="3"></li>
					<li data-target="#GraphicsSlide" data-slide-to="4"></li>
					<li data-target="#GraphicsSlide" data-slide-to="5"></li>
                  </ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <!-- Start of Item -->
                    <div class="item active">
                      <img src="images/portfolio/graphics/001s.jpg" alt="FBI" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>FBI Logo</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal1">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/graphics/002s.jpg" alt="Marketing Systems" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Marketing Systems</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal2">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/graphics/003s.jpg" alt="EDSS" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>EDSS Logo</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal3">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/graphics/004s.jpg" alt="FinPal" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>FinPal Logo</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal4">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/graphics/005s.jpg" alt="Triumph" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Triumph Logo</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal5">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
					<!-- Start of Item -->
                    <div class="item">
                      <img src="images/portfolio/graphics/006s.jpg" alt="Sno Shack" />
                      <div class="carousel-caption">
                        <!-- Start Capiton -->
                        <h3>Sno Shack Logo</h3>
                        <button class="btn btn-primary buttonEnlarge" data-toggle="modal" data-target="#graphicsModal .modal6">Enlarge</button>
                        <!-- End Caption -->  
                      </div>
                    </div>
                  	<!-- End of Item -->
                  <!-- End of Wrapper for slides -->
                  </div>
                  <!-- Controls -->
                  <a class="left carousel-control" href="#GraphicsSlide" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#GraphicsSlide" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
                <!-- End of Slide Graphics -->
                <!-- End of various sliders -->
            </div>
            <div class="rightCol">
            	<ul class="list-unstyled navMenu">
                	<li class="ulHeader">My Works</li>
                    <li class="portPoint"><a href="#" data-slide="Websites" class="active">Websites</a></li>
                    <li class="portPoint"><a href="#" data-slide="WebApps">Web Apps</a></li>
                    <li class="portPoint"><a href="#" data-slide="Graphics">Graphics</a></li>
                    <li class="portFull"><a href="https://github.com/wongasta/" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
        <div class="backtoTop">
        	<a href="#" class="scroll-link" data-id="about">Back to Top</a>
        </div>
    </div>
    <div id="contact" class="container-full subsectionContainer solidColorContainer">
		<div class="row mainContainer mainContent">
        	<h2>Contact Me</h2>
            <h3 class="extendOver">You can get in touch with me by</h3>
            <div class="row iconsContainer">
            	<div>
                	<a href="mailto:yxia@utexas.edu" target="_blank"><img src="images/icon-email.png" alt="Email Me" /></a>
                    <p>My Email</p>
                </div>
            	<div>
                	<a href="resume.doc" target="_blank"><img src="images/icon-resume.png" alt="My Resume" /></a>
                    <p>My Resume</p>
                </div>
            	<div>
                	<a href="https://www.linkedin.com/profile/view?id=93087856" target="_blank"><img src="images/icon-linkedin.png" alt="Linked In" /></a>
                    <p>My LinkedIn</p>
                </div>
            </div>
            <div class="row infoContainer">
            	<p>Phone: (713) 517-9676</p>
                <p>Email: yxia@utexas.edu</p>
                <p>Current Location: San Antonio</p>
            </div>
        </div>
        <div class="backtoTop">
        	<a href="#" class="scroll-link" data-id="about">Back to Top</a>
        </div>
    </div>
    <div id="footer" class="container-full">
    	<div>
        	<p>Website designed and coded by Yixin Xia</p>
            <p>Used: Bootstrap3, JQuery, High Charts, Angular.js, and PHP</p>
        </div>
        <div class="placeHolder">
        	<img src="images/footerIcon.png" alt="Footer Logo" />
        </div>
        <div>
        	<p>You are free to distribute or fork this project as long as this notice is preserved =)</p>
        </div>
    </div>
</div>

<!-- Includes all the Modals of Portfolio -->
<div id="modalContainer">
	<div id="websitesModal">
    <!-- Website Modals -->
    	<!-- Modal -->
        <div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/001f.jpg" alt="Apple Energy Group" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/002f.jpg" alt="Strategic Materials" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/003f.jpg" alt="Austin Lawns and Flowerbeds" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/004f.jpg" alt="Safari Site" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/005f.jpg" alt="Day of Prayer" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/006f.jpg" alt="Baykal Consulting" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal7" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/007f.jpg" alt="CCC" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
        <!-- Modal -->
        <div class="modal fade modal8" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/websites/008f.jpg" alt="Bud Hyrczyk" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    </div>
    <!-- End of Website Modals -->
    <!-- Web App Modals -->
    <div id="webappModal">
    	<!-- Modal -->
        <div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/webapps/001f.jpg" alt="Phoenix Sun Project" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    	<!-- Modal -->
        <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/webapps/002f.jpg" alt="Namerator" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    	<!-- Modal -->
        <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/webapps/003f.jpg" alt="USAA Kids" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    	<!-- Modal -->
        <div class="modal fade modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/webapps/004f.jpg" alt="Apple Energy Group Store" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    	<!-- Modal -->
        <div class="modal fade modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/webapps/005f.jpg" alt="Apple Energy Group Georgia" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    </div>
    <!-- End of Web App Modals -->
    <!-- Graphics Modals -->
    <div id="graphicsModal">
    	<!-- Modal -->
        <div class="modal fade modal1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/001f.jpg" alt="FBI" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
		<!-- Modal -->
        <div class="modal fade modal2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/002f.jpg" alt="Marketing Systems" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
		<!-- Modal -->
        <div class="modal fade modal3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/003f.jpg" alt="EDSS Logo" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    	<!-- Modal -->
        <div class="modal fade modal4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/004f.jpg" alt="FinPal" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
		<!-- Modal -->
        <div class="modal fade modal5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/005f.jpg" alt="Triumph" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
		<!-- Modal -->
        <div class="modal fade modal6" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <!-- Start Modal Content -->
              <div class="modalContainer">
                <div class="imgContainer">
                	<img src="images/portfolio/graphics/006f.jpg" alt="SnoShack" />
                </div>
              </div>
              <!-- End Modal Content -->
            </div>
          </div>
    	</div>
        <!-- End of Modal -->
    </div>
    <!-- End of Graphics Modals -->
</div>
<!-- End of all the Modals of Portfolio -->

<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-animate.min.js"></script>
<script src="js/highcharts.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/mainScripts.js"></script>
<script src="js/ng/twitter.js"></script>
</body>
</html>